@import "tailwindcss";

@utility container {
  @apply max-w-screen;
}

@theme {
  --color-primary: oklch(51.1% 0.262 276.966);
  --color-secondary: oklch(51.8% 0.253 323.949);
  --color-secondary2: oklch(60.9% 0.126 221.723);
  --color-light: oklch(92.9% 0.013 255.508); 
    --color-manhua: oklch(60% 0.118 184.704); 
    --color-manhwa: oklch(63.7% 0.237 25.331); 
    --color-manga: oklch(79.5% 0.184 86.047); 
  }

.manhua {
  @apply bg-manhua;
}
.manhwa {
  @apply bg-manhwa;
}
.manga {
  @apply bg-manga;
}